/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset CSS */


/* Variables */

    :root{
        --background: #1C2B2D;
        --accent: #1F6F8B;
        --letter1: #E6D5B8;
		--letter2: #99A8B2;
		--scrollbar: #c1c1c1;
		--scrollbar-background: #fafafa;

		--top-icon-height: 8.66666vh;
		--footer-play-game-height: 16.66666vh;
		--current-number-height: 43.33vh;
		--numbers-height: 56.66vh;
		--ranking-title-height: 15.3vh;
    }

/* End variables */

/* Fonts */

@font-face {
	font-family: 'Roboto';
	src: url("../webfonts/Roboto-Regular.ttf");
  }

/* End fonts */

body{
	background-color: var(--background);
	font-family: 'Roboto';
}


/* remove double-tap zoom on mobile */
* {
	touch-action: manipulation;
}

/* Index */

.icon-ranking{
	padding-top: 3.3vh;
	padding-right: 3.3vh;
	padding-left: 3.3vh;
	height: var(--top-icon-height)
}

.icon-ranking img{
	height: 5.33vh ;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.icon-ranking img:hover{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);

}


.logo-center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - var(--top-icon-height) - var(--footer-play-game-height));
}

.logo-center img{
	height: 6.83vh;
}

.play-game{
    height: var(--footer-play-game-height);
    padding-bottom: 3.33vh;
	padding-right: 5.55vw;
	display: flex;
    padding-left: 5.55vw;
	width: 100%;
	background: none;
    outline: none;
    border: none;
}

.play-game:focus{
	outline: none;
}

.play-game div{
	min-height: 100%;
	min-height: -webkit-fill-available;
	height: 100%;
	height: -webkit-fill-available;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--accent);
	border: 3px solid var(--letter2);
	border-radius: 10px;
	color: var(--letter1);
	text-decoration: none;
	font-size: 4vh;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	
}

.play-game a{
	color: var(--letter1);
	text-decoration: none;
	font-size: 4vh;
	width: 100%;
}

.play-game div:hover{
	-webkit-transform: scale(0.9);
  	transform: scale(0.9);
	cursor: url("../images/cursor.svg"), auto;
}

#game{
	display: none;
}


.current-number{
	height: calc(100vh - var(--numbers-height));
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.current-number p{
	color: var(--letter1);
	font-size: 15.66vh;
	text-align: center;
}

.current-number-frame{
	width: 25vh;
	height: 25vh;
	display: flex;
	border: 3px solid var(--letter1);
	justify-content: center;
	align-items: center;
}

.numbers p{
	font-size: 10.66vh;
	color: var(--letter2);
}

.row, .col{
	margin: 0px;
	padding: 0px;
}

.col{
	height: 17.5vh;
	width: 17.5vh;
	border-top: 4px solid var(--accent);
	border-left: 4px solid var(--accent);
	border-right: none;
	border-bottom: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	transition: 0.2s;
	outline: none;
	transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);


}

.col:hover{
	cursor: url("../images/cursor.svg"), auto;
}

.col:focus{
	background-color: var(--accent);
	outline: none;
}

.n7, .n8, .n9{
	border-bottom:4px solid var(--accent);
}

.n3, .n6, .n9{
	border-right: 4px solid var(--accent);
}


/* Animation loading dots */

.sk-chase {
	width: 6.67vh;
    height: 6.67vh;
	position: relative;
	animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0; 
	animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
	content: '';
	display: block;
	width: 25%;
	height: 25%;
	background-color: #fff;
	border-radius: 100%;
	animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
	100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
	80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
	50% {
	  transform: scale(0.4); 
	} 100%, 0% {
	  transform: scale(1.0); 
	} 
  }

/* End animation loading dots */

.container-number{
	display: flex;
	justify-content: center;
	padding-right: 3.3vh;
	padding-left: 3.3vh;
	padding-bottom: 3.3vh;
	align-items: center;
	height: var(--numbers-height);
}

/* unselectable numbers */
.numbers .row .col{
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select:none;
	-webkit-touch-callout:none;
	-ms-user-select:none;
	user-select:none;
}

/* End of index */


/* Ranking */

.ranking-title{
	height: 5.33vh;
	display: inline-flex;
	margin-top: 3.33vh;
	margin-bottom: 6.66vh;
	align-items: center;
}

.ranking-title p{
	color: var(--letter1);
	font-size: 4vh;
	text-align: center;
	margin: 0 auto;
	

}

.ranking-title a{
	cursor: pointer;
}

.ranking-title img{
	height: 5.33vh;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ranking-title img:hover{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.ranking-title div{
	height: fit-content;
	position: fixed;
	padding-left: 3.3vh;
}

.ranking-names{
	display: flex;
	justify-content: space-between;
	margin-bottom: 3.83vh;
	margin-top: 3.83vh;
	align-items: center;
}

.ranking-names:nth-of-type(1){
	margin-top: 0px;
}

.ranking-names div{
	display: flex;
	align-items: center;
}

.ranking-names div p:first-of-type{
	margin-left: 5.5vh;
}

.ranking-names div p:nth-of-type(2){
	margin-left: 4.16vh;
}

.ranking-names:nth-of-type(1) p, .ranking-names:nth-of-type(2) p, .ranking-names:nth-of-type(3) p{
	color: var(--letter2);
}

.ranking-names p{
	font-size: 4vh;
	color: var(--accent);
}

.ranking-score{
	margin-right: 5.83vw;
}

.listWrapper{
	max-height:calc(100vh - var(--ranking-title-height));
	height: calc(100vh - var(--ranking-title-height));
	overflow-y:auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.listWrapper p{
	font-size: 4vh;
	color: var(--accent);
}

.listWrapper::-webkit-scrollbar{
	width: 2.66vh;
	background-color: var(--scrollbar-background);
}

.listWrapper::-webkit-scrollbar-thumb{
	border: 4px solid var(--scrollbar-background);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--scrollbar);
}

.loader,
.loader:before,
.loader:after {
  background: var(--letter2);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--letter2);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 2vh;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/* End of ranking */

/* End-Game */

.icon-close{

	padding-top: 3.3vh;
	padding-right: 3.3vh;
	height: var(--top-icon-height);
	display: flex;
	justify-content: flex-end;
	margin-bottom: 6.66vh;

}

.icon-close img{
	height: 5.33vh;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.icon-close img:hover{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.end-game{
	height: 25.66vh;
}

.end-game p{
	font-size: 8vh;
	text-align: center;
	margin: 0 auto;
	color: var(--letter1);
}

.score{
	height: 25.66vh;
}

.score p{
	text-align: center;
	margin: 0 auto;
	color: var(--letter1);
}

.score p:nth-of-type(1){
	font-size: 3vh;
}
.score p:nth-of-type(2){
	font-size: 16vh;
}

form input[type="text"]{
    background: transparent;
	color: var(--letter2);
	outline: none;
	border: 3px solid var(--accent);
	height: 13.33vh;
	font-size: 4vh;
	border-radius: 10px;
	text-indent: 3.5vh;
	margin: 0 auto;
	display: block;
	width: 88.88%;

}

form input::placeholder{
	color: var(--letter2);
	margin-left: 3.5vh;
	font-size: 4vh;
}

form input[type="submit"]{
	outline: none;
    background: var(--accent);
	color: var(--letter1);
	border: 3px solid var(--letter2);
	height: 13.33vh;
	font-size: 4vh;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	width: 88.88%;
	margin-top: 3.33vh;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

form input[type="submit"]:hover{
	cursor: url("../images/cursor.svg"), auto;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);

}

.sr-only{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* End of End-Game */